:root {
	--primary-color: #FAFAFA;
	--grey-paragraph: #5C7B98;
	--grey-headers: #233B47;
	--secondary-color: #FFAD47;
	--dark-color: #16161D;
	--accent-color: #1C2C4E;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
	background: var(--primary-color);
}

* {
		box-sizing: border-box;
	}

#typed {
    display: inline;
}
.typed-cursor {
	display: none;
}


/*Mobile*/
.hero {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 90vh 10vh;
}

.hero .hero--mkt {
	display: grid;
	place-items: center;
	place-content: center;
	padding-bottom: 16px;
}

.hero .hero--mkt img {
	width: 100%;
	max-width: 700px;
}

.hero .hero--mkt h1 {
	font-size: 1.8rem;
	margin: 0;
	justify-self: center;
	text-align: center;
}

.hero .hero--mkt .wrapper-text {
	text-align: center;
}

.hero .hero--mkt strong {
	border-bottom: 3px solid var(--secondary-color);
	width: 50%;
	padding: 16px 0;
}

.hero .hero--mkt p {
	font-size: 1.4rem;
	max-width: 750px;
	text-align: center;
	line-height: 150%;
	margin: 0;
	padding: 16px;
}

.hero .hero--mkt span {
	font-size: 1.2rem;
}

.hero .hero--nav {
	display: grid;
	grid-template-columns: 1fr max-content;
	background: var(--dark-color);
	height: 60px;
	width: 100%;
	z-index: 1;
}

.hero .hero--nav ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	padding: 0;
}

.hero .hero--nav ul li {
	position: relative;
}

.hero .hero--nav ul li a {
	text-decoration: none;
	padding: 8px;
	font-size: 16px;
	font-weight: 700;
	color: var(--primary-color);
	letter-spacing: .3px;
	transition: border .2s ease;
}

.hero .hero--nav ul li a:after {
	position: absolute;
  left:0;
  top: -10px;
  content:"";
  width:0%;
  border-bottom: 2px solid var(--secondary-color);
  transition: all 2s ease;
}

.hero .hero--nav ul li a:hover::after {
	animation: linefill 1s ease;
  animation-fill-mode: forwards;
}

@keyframes linefill{
  50%{
    width: 100%;
    height: 0px;
  }
  100%{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid var(--secondary-color);
  }
}

.hero--nav .hero--nav_menu {
	grid-area: 1 / 1 / 1 / 2;
}

.hero--nav .hero--nav_socials {
	grid-area: 1 / 2 / 1 / 3;
	justify-self: end;
	padding: 0;
}

.hero--nav .hero--nav_socials li a:hover {
	color: var(--secondary-color);
} 

.moodboard img {
	width: 100%;
	padding: 16px 0;
}

.i-am	{
	height: 100vh;
	background: var(--dark-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.i-am .wrapper {
	width: 100%;
	padding: 16px;
}

.i-am h2 {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--primary-color);
	margin: 0;
	padding: 8px 0;
}

.i-am p {
	font-size: 1.2rem;
	color: var(--primary-color);
	margin: 0;
	line-height: 150%;
}

.i-am .wrapper p::before {
	 display: none;
}

.movlify {
	display: grid;
	grid-template-columns: 1fr;
	height: 100vh;
}

.movlify .movlify--description {
	place-self: center end;
	padding: 16px;
	max-width: 80%;
}

.movlify .movlify--description img {
	width: 50%;
	max-width: 200px;
}

.movlify .movlify--description h5 {
	font-size: 1.5rem;
	color: var(--dark-color);
	font-weight: 500;
	margin: 0;
	padding: 12px 0;
}

.movlify .movlify--description p {
	font-size: 1.2rem;
	color: var(--dark-color);
	font-weight: 400;
	margin: 0;
	line-height: 150%;
	padding-bottom: 24px;
}

.movlify .movlify--project_screens {
	display: flex;
	align-items: start;
}

.movlify .movlify--project_screens img {
	max-width: 80%;
}

.movlify .movlify--description a {
	padding: 12px 32px;
	text-decoration: none;
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
	font-weight: 500;
	font-size: 1.2rem;
	border-radius: .2rem;
	transition: all .4s;
}

.movlify .movlify--description a:hover {
	border: 1px solid var(--accent-color);
	background: var(--accent-color);
	color: var(--primary-color);
}
/*Mobile*/

/*Sticky Menu*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
/*Sticky Menu*/

/*Tablet*/
@media screen and (min-width: 768px) {

	.movlify {
		grid-template-columns: minmax(400px, 1fr) 1fr;
	}

	.hero .hero--nav {
		grid-template-columns: 1fr max-content 1fr;
		padding: 0 24px;
	}

	.hero--nav .hero--nav_menu {
		grid-area: 1 / 2 / 1 / 3;
	}

	.hero--nav .hero--nav_socials {
		grid-area: 1 / 3 / 1 / 4;
		justify-self: end;
	}

	.i-am .wrapper {
		width: 70%;
	}

	.i-am p {
		font-size: 1.6rem;
		color: var(--primary-color);
		margin: 0;
		line-height: 150%;
	}

	.i-am .wrapper p::before {
		display: block;
		 font-family: "Font Awesome 5 Free";
		 font-weight: 900;
		 content: "\f0d0";
		 font-size: 16px;
		 position: absolute;
		 left: -14px;
	}
	.movlify .movlify--project_screens {
		display: flex;
		align-items: center;
	}
}
/*Tablet*/


@media screen and (min-width: 768px) and (max-width: 1366px) {
	.hero {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 90vh 10vh;
	}
	.hero .hero--nav {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		background: var(--dark-color);
		height: 70px;
		width: 100%;
		padding: 0 24px;
	}
}


/*Desktop*/
@media screen and (min-width: 1367px) {
	.hero {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 93vh 7vh;
	}
	.hero .hero--mkt h1 {
		font-size: 3.8rem;
		padding-bottom: 16px;
		font-weight: 500;
	}
	.hero .hero--mkt p {
		font-size: 1.8rem;
	}

	.hero .hero--mkt span {
		font-size: 1.4rem;
	}

	.hero .hero--nav {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		background: var(--dark-color);
		height: 70px;
		width: 100%;
		padding: 0 24px;
	}

	.hero .hero--nav ul li a {
		padding: 16px;
	}

	.hero--nav .hero--nav_menu {
		grid-area: 1 / 2 / 1 / 3;
	}

	.hero--nav .hero--nav_socials {
		grid-area: 1 / 3 / 1 / 4;
		justify-self: end;
	}

	.i-am .wrapper {
		width: 50%;
	}

	.i-am h2 {
		font-size: 4.8rem;
	}

	.i-am .wrapper p {
		padding: 8px 0;
	}

	.movlify {
		grid-template-columns: 1.5fr 2fr;
	}

	.movlify .movlify--description {
		padding: 0 40px;
		max-width: 600px;
	}

	.movlify .movlify--description h5 {
		font-size: 1.8rem;
	}

	.movlify .movlify--description p {
		font-size: 1.4rem;
	}

	.movlify .movlify--project_screens img {
		width: 60%;
	}
}
/*Desktop*/